html, body {
  margin: 0;
  padding: 0;
}

.beckyandjoel {
  height: 100%;
  width: 100%;

  h1 {
    font-family: 'Parisienne', cursive;
    font-size: 6rem;
  }

  h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;

    &.dark {
      color: #444
    }

    &.fancy {
      font-family: 'Parisienne', cursive;
    }
  }

  .image-border {
    height: 400px;
    margin-top: -85px;
    z-index: 2;
    position: fixed;
    pointer-events: none;

    &.top-right {
      right: -85px;
    }

    &.top-left {
      transform: scaleX(-1);
      left: -85px;
    }
  }

  .main {
    height:100%;
    background: #eda7a8;
  }

  .welcome {
    color: white;
    font-size: 18px;
    padding: 160px 60px;

    .read-more {
      font-size: 32px;
      text-align: center;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .rsvp-form {
    padding: 160px 120px 0 120px;
    position: relative;
    overflow: hidden;
    min-height: calc(100vh + 50px);
    background: #d5ffee;
    background: -moz-linear-gradient(top, #d5ffee 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d5ffee 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d5ffee 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5ffee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    label {
      font-family: 'Raleway', sans-serif;
      font-size: 14px;
      font-weight: normal;
      color: #444;
    }

    &:before {
      background: url(../images/bottom-floral.png) no-repeat center bottom;
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      background-size: 600px;
      bottom: -35px;
    }
  }

  .content {
    min-height: calc(100vh - 160px);
  }

  .photo {
    background: url(../images/beckyandjoel.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    z-index: 1;
    height: 100vh;
    right: 0;

    img {
      border: solid 10px white;
      float: right;
    }
  }

  /* form */
  input.field.text, select.medium, textarea.medium {
    border: solid 2px #ddd;
    border-radius: 3px;
    padding: 3px 8px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }

  textarea.medium {
    height: auto;
  }

  input.btn {
    background: #6db59a;
    color: #fff;
    padding: 5px 20px;
  }
}
